body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black; /* Ensure full black background */
  
}

/* Hero Section */
.home_hero--wrapper {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Content after video */
.content {
    height: 200vh; /* Simulate a longer content section */
        margin: 0;
        height: 250vh;
        background: 

        linear-gradient(to bottom, #000000, #201902, #1f1703); /* Capa de gradiente */
      
    
}
.stars {
    position: absolute;
    top: 1;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .star {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Efecto brillante */
  }
.title{
    font-size: 4em;
    color: white; /* White text for content */
    margin-left: 300px;
    font-family: 'Courier New', Courier, monospace;
}
.informacion{
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 2em;
    margin-left: 40px;

}
.imagenes{
    padding-top: 30px;
    display: grid;
    grid-template-columns: auto auto; /* Dos columnas: una para la imagen y otra para el texto */
    align-items: center; /* Alinea los elementos en el centro verticalmente */
    gap: 10px; /* Espacio entre la imagen y el texto */ 
}
    img {
        width: 800px; /* Ajusta el tamaño de la imagen */
        height: 400px;
        padding-right: 30px;
      }
      .descarga{
        color: white;
        font-size: 3em;
        margin-left: 30px;
      }
      .Enlace{
        color: white;
        font-size: 2em;
        margin-left: 40px;
      }
      @keyframes twinkle {
        0%, 100% {
          opacity: 0.3;
        }
        50% {
          opacity: 1;
        }
      }
      





