body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black; /* Ensure full black background */
}

/* Hero Section */
.home_hero--wrapper {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Content after video */
.content {
    height: 200vh; /* Simulate a longer content section */
        margin: 0;
        height: 300vh;
        background: 
        radial-gradient(circle at 20% 30%, rgba(255, 239, 13, 0.5) 1px, transparent 1px) 0px 0px / 100px 100px, /* Estrellas pequeñas */
        radial-gradient(circle at 50% 80%, rgba(255, 183, 28, 0.6) 2px, transparent 2px) 0px 0px / 150px 150px, /* Estrellas medianas */
        radial-gradient(circle at 70% 20%, rgba(233, 71, 31, 0.7) 3px, transparent 3px) 0px 0px / 200px 200px, /* Estrellas grandes */
        linear-gradient(to bottom, #000000, #010124, #020a49); /* Capa de gradiente */
      
    
}
.title{
    font-size: 4em;
    color: white; /* White text for content */
    margin-left: 300px;
    font-family: 'Courier New', Courier, monospace;
}
.informacion{
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 2em;
    margin-left: 40px;

}
.imagenes{
    padding-top: 30px;
    display: grid;
    grid-template-columns: auto auto; /* Dos columnas: una para la imagen y otra para el texto */
    align-items: center; /* Alinea los elementos en el centro verticalmente */
    gap: 10px; /* Espacio entre la imagen y el texto */ 
}
    img {
        width: 800px; /* Ajusta el tamaño de la imagen */
        height: 400px;
        padding-right: 30px;
      }





