body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black; /* Ensure full black background */
  
}

/* Hero Section */
.home_hero--wrapper {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Content after video */
.content {
    height: 200vh; /* Simulate a longer content section */
        margin: 0;
        height: 250vh;
}
.stars {
    position: absolute;
    top: 1;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .star {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Efecto brillante */
  }
.title{
    font-size: 4em;
    color: white; /* White text for content */
    margin-left: 300px;
    font-family: 'Courier New', Courier, monospace;
}
.informacion{
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 2em;
    margin-left: 40px;

}
.imagenes{
    padding-top: 30px;
    display: grid;
    grid-template-columns: auto auto; /* Dos columnas: una para la imagen y otra para el texto */
    align-items: center; /* Alinea los elementos en el centro verticalmente */
    gap: 10px; /* Espacio entre la imagen y el texto */
}
    img {
        width: 800px; /* Ajusta el tamaño de la imagen */
        height: 400px;
        padding-right: 30px;
      }
      
      @keyframes twinkle {
        0%, 100% {
          opacity: 0.3;
        }
        50% {
          opacity: 1;
        }
      }
      .descarga{
        color: white;
        font-size: 3em;
        margin-left: 400px;
        
      }
      .Enlace{
        margin-left: 10px;
        color: white;
        font-size: 2em;

      }.circle {
        width: 75px;
        height: 50px;
        border-radius: 50%;
        background-color: #dfd3d3; /* Color del círculo */
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding-top: 20px;
        margin-left: 45%;
        
      }
      
      .download-arrow {
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 20px solid white; /* Color de la flecha */
        position: relative;
      }
      
      .download-arrow::after {
        content: "";
        width: 10px;
        height: 40px;
        background-color: white;
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translateX(-50%);
      }
      
.Copyrigth{
  margin-top: 10%;
  color: white;
  margin-left: 5%;
  font-size:1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;}




